img {
  width: 100%;
}

.scorecard-section{
  margin: 0 auto;
  text-align: center;
  margin: 30px auto;
}

.scorecard-section th {
  width:50px;
}

#big-scoreboard-btn {
  width:100%;
  font-size:1.2em;
}

#small-scorecard{
  width: 100%;
  table-layout:fixed;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.card-header {
  background-color: white;
  border:none;
  color:black;
  padding:0 25px;;
}

.card {
  border:none;
  font-weight: 300;
}

.btn-link {
  color:black;
  text-decoration:none;
}

.btn-link:hover {
  color:black;
  text-decoration:none;
}

.btn-link:focus {
  text-decoration:none;
  outline:none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .15s ease;
       -o-transition: height .15s ease;
          transition: height .15s ease;
}

.event-section {
  margin: 25px auto 25px auto;
  width: 80%;
  color:grey;
}

#commitment.registration-not-committed {
  color: red;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  text-decoration: none;
  border: 1px solid red;
  border-radius: .25rem;
}

#commitment.registration-committed {
  color: green;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  text-decoration: none;
  border: 1px solid green;
  border-radius: .25rem;
}

.rounds-list {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0;
  margin-bottom:10px;
}

.subnav {
  margin: 15px 0;
}

.hasScore {
  color:green;
  border: 1px solid green;
}

.scorecard-title {
  margin: 20px auto;
}

.split-row-2 {
  width: 48%;
}

.split-row-3 {
  width: 30%;
}

.scorecard-section {
  width: 90%;
}

#welcome {
  margin:50px 0;
}

#log-in {
  margin-top:80px;
}

@media only screen and (min-width: 600px) {
  body {
    width:600px;
    margin: 0 auto;
  }

  .navbar {
    display:flex;
    justify-content: space-between;
  }
}

.bi-chevron-down {
  height: 1.7em;
  width: 1.7em;
  margin-bottom: .5rem;
}

.upcoming {
  padding: 15px;
  margin-bottom: 25px;
  background-color: white;
}

.past {
  padding: 15px;
  margin-bottom: 25px;
  background-color: white;
}

.title {
  margin-bottom: 40px;
}

.middle {
  width: 50%;
}

.side {
  width: 25%;
}

h6, h5, h4 {
  font-weight: 400;
}

.committed-names ul {
  padding: 0;
  margin: 25px 0 30px 0;
}

.committed-names li {
  list-style: none;
  color: black;
  font-size: 18px;
}

.show {
  margin-bottom: 40px;
}

#others {
  font-weight:500;
}

.event-section .bi {
  margin-right:10px;
}

.scorecard-record {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px;
}

.scorecard-record-hole {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  align-self: center;
  margin:0;
  font-size: 18px;
  font-weight: 500;
}

.scorecard-record-par {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  align-self: center;
  margin:0;
  font-size: 18px;
  font-weight: 500;
}

.scorecard-record-input {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  width:80px;
  height: 80%;
  font-size:30px;
  text-align: center;
  justify-self:center;
  border: 2px solid green;
  align-self: center;
  color: green;
}

.scorecard-record-up {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  align-self: center;
  margin:0;
  color:red;
}

.scorecard-record-down {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  align-self: center;
  margin:0;
  color:green;
}

.updown {
  width: 25px;
  height: 25px;
}

.scorecard-record-button {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  width:80px;
  height: 80%;
  align-self: center;
  justify-self: center;
  background:white;
  border: 2px solid blue;
  color:blue;
}

.scorecard-record-input:disabled {
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

.leaderboard {
  margin: 0 auto;
  width:50%;
  text-align: center;
  font-size:20px;
}

#closebutton {
  display:block;
  color:red;
  padding: 25px;
  width: 30px;
  height: 30px;
}