.scorecard-section{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.scorecard-section th {
  text-align: center;
  height: 50px;
  padding: 0;
}

.scorecard-section td {
  text-align: center;
  height: 50px;
  padding: 0;
}

.scorecard-section input {
  width:50px;
  
  text-align:center;
}

#big-scoreboard-btn {
  width:100%;
  font-size:1.2em;
}

#small-scorecard{
  width: 100%;
  table-layout:fixed;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.card-header {
  background-color: white;
  border:none;
  color:black;
}

.card {
  border:none;
}

.btn-link {
  color:black;
  text-decoration:none;
}

.btn-link:hover {
  color:black;
  text-decoration:none;
}

.btn-link:focus {
  text-decoration:none;
  outline:none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .15s ease;
       -o-transition: height .15s ease;
          transition: height .15s ease;
}

.event-section {
  margin: 25px auto 25px auto;
  width: 80%;
  color:grey;
}

#commitment.registration-not-committed {
  color: red;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3em;
  text-decoration: none;
}

#commitment.registration-committed {
  color: green;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3em;
  text-decoration: none;
}

.roundslist {
  display:flex;
  justify-content: space-evenly;
}

.subnav {
  margin: 15px 0;
}

.hasScore {
  color:green;
  border: 1px solid green;
}

.scorecard-title {
  margin: 20px auto;
}

.split-row-2 {
  width: 48%;
}

.split-row-3 {
  width: 30%;
}

.scorecard-section {
  width: 90%;
}