<%- include('../partials/header') %>  
<ul class="subnav nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link text-success" href="/events">Rounds</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-success active" href="/standings">Standings</a>
  </li>
</ul>

<% console.log(valuesArray)%>
<% console.log(classesArray)%>



</table>